$color-black: #000;
$color-white: #fff;

$color-60: #000022;
$color-30: #fbf5f3;
$color-10: #e28413;
$color-5: #262626;
$color-danger: #ff4c29;
$color-success: rgb(1, 181, 1);


$font-black-ops: 'Black Ops One', cursive;
;

